main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    background-color: var(--web-color);
    margin-top: 60px;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.section-block{
    display: none;
    width: 100%;
    padding-bottom: 70px;
}

.section-flex{
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.button-block{
    display: flex;
    width: fit-content;
    height: fit-content;
    border: 5px var(--logo-color) solid;
    border-radius: 10px;
    background-color: var(--logo-color);
    align-items: center;
    margin: auto;
}


.button-block p{
    font-family: var(--button-text);
    text-align: center;
    font-weight: 500;
}


.button-block .logo{
    background-position: center;
    background-size: cover;   
}

.content{
    display: flex;
    width: 100%;
    height: fit-content;
    align-content: center;
    justify-content: center;
}

.sub-content{
    display: flex;
    height: fit-content;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.sub-header{
    font-family: var(--header-text);
    text-transform: initial;
}

.info-text{
    font-family: var(--body-text);
    text-transform: initial;
    text-align: justify;
}

.less-more{
    font-family: var(--body-text);
}

.button-content{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: fit-content;
    width: 100%;
}

.logo-content{
    background-position: center;
    background-size: cover;
}

.logo{
    background-size: cover;
    background-position: center;
    border: 3px var(--text-color) solid;
}

#main-section{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#home-content{
    height: 90%;
    align-items: center;
}

#main-container{
    width: 100%;
}

#about-container, #project-container{
    background-color: var(--navigation-color);
    border-radius: 20px;
}

#lid-content, #ner-content{
    border-bottom: 3px var(--text-color) solid;
}

#lid-left-side, #ner-left-side, #bio-left-side{
    width: fit-content;
}


#about-more-info, #lid-more-info, #ner-more-info, #bio-more-info{
    display: none;
}

#about-header, #projects-header, #about-header-second{
    font-family: var(--hero-font);
    border-bottom: 5px var(--button-hover-color) solid;
}

/* #about-header-second{
    display: none;
} */

#N::first-letter, #L::first-letter, #P::first-letter{
    color: var(--logo-color);
}

#intro-box{
    border: 10px var(--logo-color) solid;
    background-color: var(--web-color);
    border-radius: 20px;
}


/* Button Logos */

#git-logo{
    background-image: url(../images/icons/github-mark-white.svg);
    /* background-color: var; */
}

#lm-logo{
    background-image: url(../images/icons/arrow-white.svg);
}

#cv-logo{
    background-image: url(../images/icons/download.svg)
}

#in-logo{
    background-image: url(../images/icons/linkedin.svg)
}

/* Project covers */
#ner-logo{
    background-image: url(../images/projects/ner.gif);
}

#lid-logo{
    background-image: url(../images/projects/lid.gif);
}

#bio-logo{
    background-image: url(../images/projects/bio.gif);
}

/* Portrait */
#portrait{
    background-image: url(../images/portraits/portrait.jpg);
    width: 200px;
    height: 200px;
    border-radius: 200px;
    padding: auto;
}

@media only screen and (max-width: 600px){

    .info-text{
        font-size: 1.4rem;
        padding: 0 10px;
    }

    .less-more{
        font-size: 1.4rem;
        padding: 0 10px;
    }

    #main-section{
        display: flex;
        flex-direction: column;
        background-image: url("../images/BG2.svg");
        height: calc(100vh - 60px);
    }

    #main-container{
        height: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    .button-block p{
        font-size: 1.6rem;
        padding: 3px 10px;
    }

    .button-block .logo{
        width: 30px;
        height: 30px;
        border-radius: 30px;
        margin-right: 10px;
    }

    #home-left-side{
        display: none;
    }

    #home-right-side{
        width: 100%;
        padding: 0 40px;
        align-items: center;
    }

    #intro-box{
        width: fit-content;
    }

    #N, #L, #P{
        text-align: start;
        font-size: 4.8rem;
        padding: 5px 20px;
    }

    #slogan{
        text-align: center;
        padding: 40px 0;
        font-size: 1.8rem;
    }

    /* <============== Projects ==============> */

    .wrapper-main{
        width: 80%;
    }
    #projects-section{
        display: flex;
        flex-direction: column;
        height: fit-content;
        padding-top: 70px;
    }

    #projects-title, #about-title{
        padding: 10px 0;
    }
    #lid-content, #ner-content, #bio-content{
        flex-direction: column;
        padding: 10px 0;
        row-gap: 10px;
    }

    #lid-logo, #ner-logo, #bio-logo{
        width: 250px;
        height: 250px;
        border-radius: 10px;
    }

    #lid-left-side, #ner-left-side, #bio-left-side{
        align-items: center;
        width: 100%;
    }

    #lid-more-info, #ner-more-info, #bio-more-info, #about-more-info{
        row-gap:10px;
    }

    #lid-title, #ner-title, #bio-title{
        text-align: center;
    }

    #lid-right-side, #ner-right-side, #bio-right-side{
        row-gap: 10px;
        padding: 0 10px;
    }

    /* <============== About ==============> */

    #about-section{
        display: flex;
        flex-direction: column;
        height: fit-content;
        padding-top: 70px;
    }

    #about-content{
        display: flex;
        flex-direction: column-reverse;
    }

    #about-right-side{
        padding: 20px 0;
        display: flex;
        align-items: center;
    }
    
    #about-left-side{
        display: flex;
        align-items: center;
        padding: 0 10px;
        row-gap: 10px;
    }

    #about-title-second{
        display: none;
    }

    #about-buttons{
        padding: 10px 0;
    }

    #contacts-section{
        display: flex;
    }

}

@media only screen and (min-width: 601px){

    .info-text{
        padding-right: 10px;
        font-size: 1.6rem;
        row-gap: 5px;
    }

    .less-more{
        font-size: 1.6rem;
    }

    #main-section{
        display: flex;
        flex-direction: column;
        background-image: url("../images/BG2.svg");
        height: calc(100vh - 60px);
    }

    #main-container{
        height: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    .button-block p{
        font-size: 1.6rem;
        padding: 5px 10px;
    }

    .button-block .logo{
        width: 35px;
        height: 35px;
        border-radius: 30px;
        margin-right: 10px;
    }

    #home-left-side{
        display: none;
    }

    #home-right-side{
        width: 100%;
        padding: 0 100px;
        align-items: center;
    }

    #intro-box{
        width: fit-content;
    }

    #N, #L, #P{
        text-align: start;
        font-size: 7rem;
        padding: 5px 60px;
    }

    #slogan{
        text-align: center;
        padding: 40px 0;
        font-size: 3rem;
    }

    /* <============== Projects ==============> */

    .wrapper-main{
        width: 90%;
    }
    #projects-section{
        display: flex;
        flex-direction: column;
        height: fit-content;
        padding-top: 70px;

    }

    #projects-title, #about-title-second{
        padding: 10px 0;
    }
    #lid-content, #ner-content, #bio-content{
        flex-direction: row;
        padding: 10px 0;
        row-gap: 10px;
    }

    #lid-logo, #ner-logo, #bio-logo{
        width: 175px;
        height: 175px;
        border-radius: 10px;
    }

    #lid-left-side, #ner-left-side, #bio-left-side{
        align-items: center;
        width: fit-content;
        padding: 10px 10px;
    }

    #lid-right-side, #ner-right-side, #bio-right-side{
        row-gap: 10px;
        padding: 10px 10px;
    }

    #lid-title, #ner-title, #bio-title{
        font-size: 2.2rem;
        text-align: start;
        padding-left: 5px

    }

    #lid-more-info, #ner-more-info, #bio-more-info, #about-more-info{
        row-gap: 10px;
    }


    /* <============== About ==============> */

    #about-section{
        display: flex;
        flex-direction: column;
        height: fit-content;
        padding-top: 70px;
        margin-bottom: 70px;
    }

    #about-content{
        display: flex;
        flex-direction: column-reverse;
    }

    #about-title{
        display: none;
    }
    #about-right-side{
        padding: 20px 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    #about-title-second{
        width: 60%; 
    }

    #portrait{
        height: 175px;
        width: 175px;
        border-radius: 200px;
    }
    
    #about-left-side{
        display: flex;
        align-items: center;
        padding: 0 20px;
        row-gap: 10px;
    }

    #about-buttons{
        padding: 10px 50px;
    }

    #contacts-section{
        display: flex;
        padding-bottom: 0px;
    }
}

@media only screen and (min-width: 768px){
    .info-text{
        row-gap: 10px;
    }

    #main-section{
        display: flex;
        flex-direction: column;
        background-image: url("../images/BG2.svg");
        height: calc(100vh - 60px);
    }

    #main-container{
        height: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    #home-content{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .button-block p{
        font-size: 1.6rem;
        padding: 5px 10px;
    }

    .button-block .logo{
        width: 30px;
        height: 30px;
        border-radius: 30px;
        margin-right: 10px;
    }

    #home-left-side{
        display: flex;
        width: 100%;
        align-items: center;
        align-content: center;
    }

    #author-box{
        width: fit-content;
        align-items: center;
    }

    #page-intro{
        font-size: 2.4rem;
    }

    #author-info{
        font-size: 3rem;
    }

    #home-right-side{
        width: 100%;
        padding: 0 100px;
        align-items: center;
    }

    #intro-box{
        width: fit-content;
    }

    #N, #L, #P{
        text-align: start;
        font-size: 7rem;
        padding: 5px 60px;
    }

    #slogan{
        text-align: center;
        padding: 40px 0;
        font-size: 3rem;
    }
    /* <============== Projects ==============> */

    .wrapper-main{
        width: 90%;
    }
    #projects-section{
        display: flex;
        flex-direction: column;
        height: fit-content;
    }

    #projects-title, #about-title{
        padding: 10px 0;
    }
    #lid-content, #ner-content, #bio-content{
        flex-direction: row;
        padding: 10px 0;
        row-gap: 10px;
    }

    #lid-logo, #ner-logo, #bio-logo{
        width: 175px;
        height: 175px;
        border-radius: 10px;
    }

    #lid-left-side, #ner-left-side, #bio-left-side{
        align-items: center;
        width: fit-content;
        padding: 10px 0px;
        padding-left: 30px;
    }

    #lid-right-side, #ner-right-side, #bio-right-side{
        row-gap: 10px;
        padding: 10px 30px;
    }

    #lid-title, #ner-title, #bio-title{
        font-size: 2.4rem;
        text-align: start;
        padding-left: 5px

    }

    #lid-git p, #ner-git p, #bio-git p, #cv p, #linkedin p{
        font-size: 1.6rem;
    }

/* <============== About ==============> */

    #about-section{
        display: flex;
        flex-direction: column;
        height: fit-content;
    }

    #about-content{
        display: flex;
        flex-direction: row;
    }
    #about-title{
        display: flex;
    }
    #about-title-second{
        display: none;
    }
    #about-right-side{
        padding: 30px 30px;
        display: flex;
        width: fit-content;
    }

    #portrait{
        height: 175px;
        width: 175px;
        border-radius: 175px;
    }
    
    #about-left-side{
        display: flex;
        align-items: center;
        padding: 10px 0px;
        padding-left: 30px;
        row-gap: 10px;
    }

    #about-buttons{
        padding: 10px 50px;
    }

}


@media only screen and (min-width: 992px){

    .less-more:hover{
        opacity: 0.5;
    }

    #main-section{
        display: flex;
        flex-direction: column;
        background-image: url("../images/BG1.svg");
        height: calc(100vh - 60px);
    }

    #main-container{
        height: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    #home-content{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0 30px;
    }

    #home-left-side{
        display: flex;
        height: 100%;
        width: 40%;
    }
    #author-box{
        display: flex;
        width: 100%;
        padding: 0 50px;
    }
    #page-intro{
        width: 100%;
        font-size: 2rem;
        text-align: center;
    }
    #author-info{
        width: 100%;
        font-size: 2.4rem;
        text-align: center;
    }
    #home-right-side{
        display: flex;
        height: 100%;
        justify-content: center;
        width: 60%;
    }

    #intro-box{
        width: fit-content;
        padding: 0px 0px;
        margin: 0 0;
    }

    #N, #L, #P {
        font-size: 7.2rem;
        padding: 5px 60px;
    }

    #slogan{
        padding: 10px 0;
        font-size: 2rem;
    }
    /* <============== Projects ==============> */

    .wrapper-main{
        width: 90%;
    }

    #about-title, #projects-title{
        padding: 20px 0;
    }
    #lid-content, #ner-content, #bio-content{
        flex-direction: row;
        padding: 10px 0;
        row-gap: 10px;
    }

    #lid-logo, #ner-logo, #bio-logo{
        width: 225px;
        height: 225px;
        border-radius: 20px;
    }

    #lid-left-side, #ner-left-side, #bio-left-side{
        padding: 10px 20px;
    }

    #lid-right-side, #ner-right-side, #bio-right-side{
        row-gap: 10px;
        padding: 10px 0px;
        padding-right: 40px;
    }

    #lid-title, #ner-title, #bio-title{
        padding-left: 0;
    }

    /* <============== About ==============> */

    #about-content{
        display: flex;
        flex-direction: row;
    }
    
    #about-right-side{
        padding: 30px 0px;
        padding-right: 40px;
        display: flex;
        width: fit-content;
    }

    #portrait{
        height: 200px;
        width: 200px;
        border-radius: 200px;
    }
    
    #about-left-side{
        padding: 10px 20px;
        row-gap: 10px;
    }

}
@media only screen and (min-width: 1200px){
    .info-text{
        font-size: 1.8rem;
    }

    .less-more{
        font-size: 1.8rem;
    }

    #main-container{
        height: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    #home-content{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 0 100px;
    }

    #home-left-side{
        width: 30%;
        padding: 0 20px;
    }
    #author-box{
        display: flex;
        width: 100%;
        padding: 0 0;
        margin-right: 70px;
        margin-left: 70px;

    }
    #page-intro{
        width: 100%;
        font-size: 2.2rem;
        text-align: center;
        /* padding-left: 100px; */
        
    }
    #author-info{
        width: 100%;
        font-size: 3.2rem;
        text-align: center;
    }
    #home-right-side{
        display: flex;
        height: 100%;
        justify-content: center;
        width: 70%;
    }

    #intro-box{
        width: fit-content;
        padding: 0px 0px;
        margin: 0 0;
    }

    #N, #L, #P {
        font-size: 9.6rem;
        padding: 5px 80px;
    }

    #slogan{
        padding: 10px 0;
        font-size: 3.6rem;
    }

    .button-block p{
        font-size: 1.8rem;
        padding: 5px 20px;
    }

    .button-block .logo{
        width: 30px;
        height: 30px;
        border-radius: 30px;
        margin-right: 20px;

    }
    /* <============== Projects ==============> */

    .wrapper-main{
        width: 70%;
    }

    #lid-logo, #ner-logo, #bio-logo{
        width: 250px;
        height: 250px;
    }

    #lid-left-side, #ner-left-side, #bio-left-side{
        padding: 10px 40px;
    }

    #lid-right-side, #ner-right-side, #bio-right-side{
        row-gap: 20px;
        padding-right: 50px;
    }

    #lid-title, #ner-title, #bio-title{
        font-size: 3rem;
    }

    /* <============== About ==============> */

    #about-right-side{
        padding-right: 50px;
        display: flex;
        width: fit-content;
    }

    #portrait{
        height: 250px;
        width: 250px;
        border-radius: 250px;
    }
    
    #about-left-side{
        padding: 10px 40px;
        row-gap: 10px;
    }
   

}