/* main {
    width: 100%;
    height: calc(100vh - 60px);
    background-color: #1A253A;
    margin-top: 60px;
    background-image: url(../images/BG2.png), url(../images/BG1.png);
    background-size: 100vw, cover;
    background-repeat: no-repeat;
    background-image: center, center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
} */

main {
    width: 100%;
    height: calc(100vh - 60px);
    background-color: #1A253A;
    margin-top: 60px;
    background-image: url(../images/BG1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    align-items: center;
}

main .main-intro h1 {
    margin-top: auto;
    font-size: 9.6rem;
    line-height: 3.15;
    align-self: center;

}

main .main-intro h2 {
    margin-top: auto;
    font-size: 4.8rem;
    line-height: 3.8;
    align-self: center;
}

main p {
    font-size: 1.8rem;
    line-height: 1.5;
}

main a {
    font-size: 1.4rem;
    display: block;
    background-color: var(--logo-color);
    width: fit-content;
}

main a:hover{
    background-color: var(--hover-color)
}

.main-intro{
    width: cover;
    height: 90vh;
    padding-top: 10vh;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.main-intro .main-column{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;

}



.main-column a{
    font-size: 1.5vw;
    padding: 10px 20px;
    margin-bottom: 3vh;
    z-index: 30;
}

.main-column p{
    margin-top: 50vh;
    align-self: center;
    font-family: var(--hero-font);
    font-size: 1.2vw;
    z-index: 3;
    /* top: 30vh; */
}

.main-intro .main-column-side{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.main-intro .main-column-side .main-sub-info{
    display: block;
    width: 40vh;
    height: 40vh;
    border-radius: 40vh;
    background-image: url(../images/circles.svg);
    background-size: cover;
    text-align: center;
    justify-content: center;
    z-index: 10;
}

.main-column-side .main-sub-info h2{
    font-size: 4vw;
    line-height: 40vh;
    color: white;
    font-family: var(--hero-font);
    font-weight: 1000;
}

.main-sub-info h2:hover{
    color:var(--hover-color);
}

.center-info{
    /* align-self: center; */
    display: flex;
    width: cover;
    height: fit-content;
    justify-content: center;
    /* position:absolute; */
    position: relative;
    bottom: 80vh;
    cursor: pointer;

}

.center-info .main-info{
    align-self: center;
    display: block;
    width: 80vh;
    height: 80vh;
    background-image: url(../images/circles.svg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    justify-content: center;
}

.center-info .main-info h1{
    font-size: 10vw;
    line-height: 80vh;
    color: white;
    font-family: var(--hero-font);
    font-weight: 1000;

}

.center-info h1:hover{
    color: var(--hover-color)
}



/* projects section */


.index-projects {
    width: 100%;
    padding: 60px 0;
    /* background-color: antiquewhite; */
    background-color: white;
    display: flex;
    justify-content: center;
    column-gap: 20px;
    flex-wrap: wrap;
}

.index-projects h1{
    color: var(--web-color);
    text-align: center;
    padding-bottom: 40px;
    flex-basis: 100%;
    font-size: 2.4rem;
}

.index-projects-box {
   width: 300px;
   height: 300px;
   background-color: var(--logo-color);
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   margin-bottom: 30px;
   border-radius: 15px;
   border: #1A253A;
}


.index-projects-box:nth-child(2) {
    background-image: url(../images/projects/ner.gif);
}
.index-projects-box:nth-child(3) {
    background-image: url(../images/projects/lid.gif);
}
.index-projects-box:nth-child(4) {
    background-image: url(../images/projects/bio.gif);
}

.dark-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: black;
    opacity: 0.5;
    transition: all ease-in-out 100ms;
    border: #1A253A;
    border-radius: 15px;
}

.index-projects-box:hover .dark-overlay {
    opacity: 0;
}

.index-projects-box h3 {
   font-size: 2.4rem;
   line-height: 1.5;
   color: aliceblue;
   text-align: center;
   bottom: 0;
   text-shadow: -2px 4px 2px black;
   z-index: 100;
}

/*  ABOUT ME  */

.index-about {
    width: 100%;
    padding: 60px 0;
    background-color: var(--web-color);
    align-items: center;
}

.index-about-img img{
    width: 300px;
    border-radius: 200px;
}

.index-about-txt {
    flex-basis: 600px;
}

.index-about-txt p{
    padding: 20px 0;
}

.index-about-txt a{
    font-size: 1.5rem;
    display: block;
    background-color: var(--logo-color);
    padding: 10px 20px;
    width: fit-content;
}

.index-about-txt a:hover{
    background-color: var(--hover-color);
}

.index-about-flex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 60px;

}
