:root{
    --header-text: Outfit-bold;
    --body-text: Outfit-regular;
    --hero-font: bruno-ace;
    --web-color: #1A253A;
    --logo-color: #1B8C9F;
    --hover-color: #146a79;
}

html {
    font-size: 62.5%;
}

@font-face {
    font-family: Outfit-regular;
    src: url(../fonts/Outfit/Outfit-Regular.ttf);
}
@font-face {
    font-family: Outfit-bold;
    src: url(../fonts/Outfit/Outfit-Bold.ttf);
}

@font-face {
    font-family: bruno-ace;
    src: url(../fonts/Bruno-Ace/BrunoAce-Regular.ttf);
}


body{
    background-color: black;
}

body:after{
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
}

.wrapper-main {
    width: 1100px;
    margin: 0 auto;
}



h1{
    font-size: 2.6rem;
    line-height: 1.5;
    color: white;
    font-family: var(--header-text);
    font-weight: 600;
    text-transform: uppercase;
}

h2{
    font-size: 2.4rem;
    line-height: 1.5;
    color: white;
    font-family: var(--header-text);
    font-weight: 600;
    text-transform: uppercase;
}

h3{
    font-size: 2rem;
    line-height: 32px;
    color: white;
    font-family: var(--header-text);
    font-weight: 600;
    text-transform: uppercase;
}

p{
    font-size: 1.4rem;
    line-height: 1.75;
    color: white;
    font-family: var(--body-text);
 
}

a {
    font-size: 1.4rem;
    line-height: 1.75;
    color: white;
    font-family: var(--body-text);
    cursor: pointer;
 
}

.header-main{
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
}

.header-main-logo{
    width: fit-content;
    height: 100%;
    background-color: white;
    display: flex;
}

.header-main-logo a{
    font-family: var(--header-text);
    padding: 0 10px;
    line-height: 60px;
    color: var(--web-color);
    display: block;
    height: 100%;
}

.header-main-logo a:hover{
    color: var(--hover-color);
}

.header-main-logo img {
    height: 70px;
    padding-left: 60px;
    align-self: center;
}

.header-main-nav{
    width: fit-content;
    height: 100%;
    background-color: white;
    padding-right: 60px;
}

.header-main-nav ul{
    list-style: none;
}

.header-main-nav ul li{
    display: inline;
    float: left;
}

.header-main-nav ul li a{
    padding: 0 10px;
    font-family: var(--header-text);
    line-height: 60px;
    color: var(--web-color);
    display: block;
    height: 100%;
}

.header-main-nav ul li a:hover{
    color: var(--hover-color);
}

/* FOOTER */

.footer-main {
    width: 100%;
    padding: 60px 0 100px;
    background-color: black;
}

.footer-main-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-sitemap {
    flex-basis: 100%;
    display: flex;
}

.footer-sitemap a {
    line-height: 1.5;
}


.footer-sitemap a:hover{
    opacity: 0.8;
}

.footer-sitemap ul:nth-child(1) {
    flex-basis: 180px;
    border-left: 2px solid var(--logo-color);
    padding-left: 20px;
}

.footer-sitemap ul:nth-child(2) {
    flex-grow: 1;
}

.footer-sitemap ul:nth-child(2) li {
    clear: both;
    float: right;
    
}

/* MOBILE VERSION */

@media only screen and (max-width: 600px){
    .wrapper-main {
        width: 80%;
    }
    
    .header-main-logo img{
        padding-left: 20px;
    
    }

    .header-main-logo a{
        color: var(--web-color);
        display: block;
        height: 100%;
    }

    .header-main nav{
        display: none;
    }

    /* FOOTER */

    .footer-main {
        width: 100%;
        padding: 60px 0 100px;
        background-color: black;
    }

    .footer-main-flex {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .footer-sitemap {
        flex-basis: 100%;
        display: flex;
    }

    .footer-sitemap a {
        line-height: 1.5;
    }


    .footer-sitemap a:hover{
        opacity: 0.8;
    }

    .footer-sitemap ul:nth-child(1) {
        flex-basis: 180px;
        border-left: 2px solid var(--logo-color);
        padding-left: 20px;
    }

    .footer-sitemap ul:nth-child(2) {
        flex-grow: 1;
    }

    .footer-sitemap ul:nth-child(2) li {
        clear: both;
        float: right;
        
    }


}
