main {
    width: 100%;
    height: calc(70vh - 60px);
    background-color: #1A253A;
    margin-top: 60px;
    background-image: url(../images/BG1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    align-items: center;
}

main h1{
    font-size: 4vw;
    align-self: center;
    font-family: var(--hero-font);
    font-weight: 1000;
}

.main-projects-intro{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    row-gap: 40px;
    /* padding: 20px 0; */
}

.main-background{
    width: cover;
    height: fit-content;
    display: flex;
    padding: 0 0;
    align-items: center;
    justify-content: space-evenly;
}

.main-center-column{
    display: flex;
    flex-direction: column;
    row-gap: 10vh;
    align-items: center;
}

.main-center-column h1{
    cursor: pointer;
}

.main-center-column h1:hover{
    color: var(--hover-color);
}

.main-center-column h3{
    text-align: center;
    margin: auto;
    font-size: 2vw;
    font-family: var(--hero-font);
    cursor: pointer;
}

.main-center-column h3:hover{
    color: var(--hover-color);
}

.main-side-column{
    display: flex;
    flex-direction: column;
    row-gap: 10vh;
    align-items: center;
}

.main-side-column h3:hover{
    color: var(--hover-color);
}

.main-side-column h3{
    display: block;
    text-align: center;
    margin: auto;
    font-size: 2vw;
    font-family: var(--hero-font);
    cursor:pointer;
}

.main-text{
    width: 100%;
    /* padding-bottom: 0vh; */
    display: flex;
    align-content:center;
    justify-content: center;
}

.main-text p{
    /* margin-top: 30px; */
    display: block;
    width: 70%;
    height: fit-content;
    font-size: 3vh;
    background-color: #111927;
    text-align: center;
    /* flex-basis: 100%; */
}

/* Projects Section */

.projects-section {
    width: 100%;
    /* padding: 60px 0; */
    padding: 40px 0;
    background-color: var(--web-color);
}

.projects-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    /* row-gap: 30px;     */

}

.dark-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: black;
    opacity: 0.5;
    transition: all ease-in-out 100ms;
    border: #1A253A;
    border-radius: 15px;
}

.project-box{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding: 20px 0;

    border-bottom: 2px solid white;
}

.project-logo-box {
    width: 250px;
    height: 250px;
    background-color: var(--logo-color);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    position: relative;
}

.project-logo-box:hover .dark-overlay{
    opacity: 0.1;
}

#ner-logo{
    background-image: url(../images/projects/ner.gif);

}

#lid-logo{
    background-image: url(../images/projects/lid.gif);
}

#bio-logo{
    background-image: url(../images/projects/bio.gif);
}

.project-info-details{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.project-info-box{
    width: 60%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.project-subinfo-box{
    display: flex;
    flex-direction: column;
}


.project-subinfo-box p{
    font-size: 1.6rem;
    line-height: 1.8;
    margin-top: 2vh;
    font-family: var(--body-text);
    text-align: justify;
}

.project-subinfo-box a{
    font-size: 2rem;
    font-family: var(--body-text);
}

.project-subinfo-box a:hover{
    opacity: 0.5;
}

#more-info-box-lid, #more-info-box-ner, #more-info-box-bio{
    display: none;
}




.git-button{
    display: flex;
    background-color: var(--logo-color);
    width: fit-content;
    border: 3px solid white;
    border-radius: 10px;
    align-items: center;
    margin: auto;
    /* align-self: center; */
}

.git-button p{
    font-size: 2vh;
    font-family: var(--hero-font);
    padding: 1vh 2vw;
    text-align: center;
    font-weight: 300;
}

.git-logo{
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin-right: 10px;
    background-image: url(../images/icons/github-mark-white.svg);
    background-position: center;
    background-size: cover;
}



/* Phone version */

@media only screen and (max-width: 600px){
    main{
        width: 100%;
        height: 50vh;
        align-items: flex-end;
    }

    .main-background{
        width: cover;
        height: 100%;
        display: flex;
        padding-top: 7vh;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .main-center-column{
        row-gap: 5vh;
        align-items: center;
    }
    
    .main-center-column h1{
        font-size: 5vh;
    }
    
    .main-center-column h1:hover{
        display: none;
    }
    
    .main-center-column h3{
        display: none;
    }
    
    .main-center-column h3:hover{
        display: none;
    }
    
    .main-side-column{
        display: none;
    }
    
    .main-side-column h3:hover{
        display: none;
    }
    
    .main-text{
        width: 100%;
        padding-bottom: 0vh;
        display: flex;
        align-content:center;
        justify-content: center;
    }
    
    .main-text p{
        /* margin-top: 30px; */
        display: block;
        width: 100%;
        font-size: 2rem;
        text-align: center;
        bottom:0;
        /* flex-basis: 100%; */
    }
    /* Projects Section */

    .projects-section {
        width: 100%;
        /* padding: 60px 0; */
        padding: 20px 0;
    }

    .projects-flex{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        /* row-gap: 30px;     */

    }

    .dark-overlay{
        display: none;
    }

    .project-box{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
        row-gap: 20px;
    }

    .project-logo-box {
        width: 200px;
        height: 200px;
    }

    .project-logo-box:hover .dark-overlay{
        display: none;
    }

    .project-info-box{
        width: 90%;
        justify-content: center;
        row-gap: 20px;
        align-items: center;
    }

    .project-subinfo-box{
        display: flex;
        flex-direction: column;
    }

    .project-info-box h1{
        font-size: 2.2rem;
        text-align: center;
    }

    .project-subinfo-box a{
        font-size: 1.8rem;
        font-family: var(--body-text);
    }


}

